<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Disappearing Ninjas</title>
    <meta description="Disappearing Ninjas for Coding Dojo Django fundamentals">
    <meta charset='utf-8' />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ninjas/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ninjas/style.css' %}">
    <link rel="shortcut icon" href="{% static 'ninjas/favicon.ico' %}">

</head>
<body>
    <div id=wrapper>
        <h1>Oh snap! There are no ninjas here... </h1>
        <p>This is not a valid page URL anyway... </p>
        <input id="allbutton" onclick="window.location='/ninjas';" class="linkbutton" type="button" value="View Ninjas">
        <br>
        <img src="{% get_static_prefix %}ninjas/notapril.jpg" alt="April O'Neil">
    </div>
    <footer>
        <p>by Troy Center June 2017, Coding Dojo, Flask fundamentals.</p>
    </footer>
</body>
</html>
